@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Space+Grotesk:wght@300&family=Space+Mono&display=swap');

:root {
    --backup-font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    --dark-color: rgb(0, 0, 0);
    --dark-color-transparent: #dfdfdf7e;
    --text-color: rgb(255, 255, 255);
    --color-1: #fef200;
    --color-2: #ff0078;
    --color-3: #0201ff;
    --color-4: #dfdfdf;
    --color-5: rgb(55, 255, 45);
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: var(--dark-color);
}

/* font and link style */

::selection {
    background-color: var(--color-3);
}

a {
    color: var(--text-color);
    border: 2px solid transparent;
    outline: none;
}

a:hover,
a:focus {
    color: var(--dark-color);
    background-color: var(--text-color);
    border: 2px solid var(--text-color);
    text-decoration: none;
}

a:active {
    background-color: var(--dark-color);
    color: var(--text-color);
}

#vertex {
    font-size: 7rem;
    line-height: 1.1em;
    margin: 0;
    font-family: 'Monoton', var(--backup-font-stack);
}

#logo > p.text-mono {
    font-size: 2rem;
    line-height: 1.1em;
}


.text {
    font-family: 'Space Grotesk' ,var(--backup-font-stack);
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
}

.text-mono,
.text-mono#user-input input {
    font-family: 'Space Mono', var(--backup-font-stack);
    font-size: 1.3rem;
    margin: 0;
}

/* logo slide */

#sidebar {
    background: left / cover url(./picture.jpg) rgb(80, 25, 90) no-repeat;
    height: 100vh;
    position: sticky;
    top: 0;
}

#logo {
    margin-top: calc(100vh / 4);
    text-align: center;
    padding: 0.5rem 2rem;
    background-color: var(--dark-color-transparent);
    color: var(--dark-color);
}

/* form slide */

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--dark-color);
    color: var(--text-color);
    width: 100%;
}

#form #user-input p,
#form button[form="user-input"],
#form #user-input input,
#form #user-input label {
    color: var(--dark-color);
    background-color: var(--text-color);
}

#form > * {
    padding-left: 4rem;
    padding-right: 4rem;
}

#form p:first-child {
    max-width: 60ch;
}

#form #user-input {
    background-color: var(--text-color);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: calc(4rem - 10px);
    margin-right: 10px;
    box-shadow: 10px 10px 0px 0px var(--color-5);
}

#form #user-input div.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem max(min(8rem, 10%), 2rem);
}

#form #user-input > *:not(:first-child) {
    margin-top: 2rem;
}

#form #user-input div.row div {
    position: relative;
}

#form #user-input p:first-child {
    font-size: 2.2rem;;
}

#form #user-input p:nth-child(2),
#form #user-input div.checkbox {
    font-size: 0.9rem;
}

/* user input */

#form #user-input div.row input {
    margin: 0;
    appearance: none;
    padding: 1.3rem 0.7rem 0.3rem 0.7rem;
    border: 2px solid var(--dark-color);
    width: 20rem;
    outline: none;
    line-height: 0em;
    box-shadow: 5px 5px var(--color-3);

}

#form #user-input div.row input:hover {
    background-color: var(--color-4);
}

#form #user-input div.row input:focus {
    background-color: var(--dark-color);
    color: var(--text-color);
}

#form #user-input div.row input:focus + label {
    color: var(--text-color);
}

/* label */

#form #user-input div.row label {
    line-height: 1em;
    position: absolute;
    top: 0.3rem;
    left: 0.7rem;
    font-size: 0.9rem;
    color: var(--dark-color);
    background-color: transparent;
}

/* span */

#form #user-input div.row span {
    height: 0;
    color: var(--dark-color);
    position: absolute;
    font-size: 0.9rem;
    line-height: 1em;
    right: 0;
    top: 0;
}

#form #user-input div.row input ~ span::before {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    padding: 0.3rem;
    border: 2px solid var(--dark-color);
    transform: translate(10px, -10px);
}

#form #user-input div.row input:valid:not(:placeholder-shown) ~ span::before {
    content: "Valid";
    background-color: var(--color-5);
}


#form #user-input div.row input:focus:invalid ~ span::before {
    content: "Invalid";
    background-color: var(--color-1);
}

#form #user-input div.row input#password ~ span::after {
    position: absolute;
    display: block;
    white-space: pre;
    top: 0;
    right: 0;
    padding: 0.3rem;
    border: 2px solid var(--dark-color);
    transform: translate(-20rem, -10px);
    background-color: var(--color-1);
}

#form #user-input div.row input#password:focus:invalid ~ span::after {
    content: attr(data-content);
}

/* checkbox */

#form #user-input input[type="checkbox"] {
    appearance: none;
    position: relative;
    border: solid 2px var(--dark-color);
    height: 0.9rem;
    width: 0.9rem;
    overflow: hidden;
    outline: hidden;
}

#form #user-input input[type="checkbox"]:focus {
    transform: scale(1.2);
    outline: 0;
}

#form #user-input input[type="checkbox"]::before {
    content: "";
    position: absolute;
    background-color: var(--color-5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0s;
}

#form #user-input input[type="checkbox"]:checked::before {
    opacity: 1;
}

#form #user-input input[type="checkbox"]::after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
}

#form #user-input input[type="checkbox"]:checked::after {
    overflow: hidden;
    height: 50%;
    width: 50%;
    top: 25%;
    left: 25%;
    background-color: var(--dark-color);
}

/* button */

#form button[form="user-input"] {
    appearance: none;
    width: 15rem;
    padding: 0.7rem;
    margin-left: 4rem;
    border: 2px solid var(--text-color);
    outline: none;
    box-shadow: 5px 5px var(--color-2);
}

#form button[form="user-input"]:hover {
    background-color: #dfdfdf;
}

#form button[form="user-input"]:active,
#form button[form="user-input"]:focus        {
    background-color: var(--dark-color);
    color: var(--text-color);
}